<h3>Patron #</h3>
<p-autoComplete type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="brand"
    [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)" [size]="30" [minLength]="1"
    placeholder="Enter a patron number" [dropdown]="true">
    <ng-template let-brand pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand}}</div>
        </div>
    </ng-template>
</p-autoComplete>